body {
    background-color: #dad9d9;
}

.bold-label {
    font-weight: bold;
    font-size: 18px;
}

.label-registro {
    display: block;
    margin-bottom: 10px;
    color: #be1b05;
    text-align: center;
    margin: 3px 0; /* Ajusta el margen superior e inferior según tus necesidades */
    font-size: 15px;
    font-weight: bold;
}
