.btn.btn-warning{
    margin: 5px;
}

.CrearBoton {
    background-color: #2d7503;
    box-shadow: 0 5px 25px rgba(97, 218, 250, .5);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    top: 28%; /* Posiciona el botón en la mitad superior de la pantalla */
    left: 50%; /* Posiciona el botón en el centro horizontal de la pantalla */
    transform: translate(-50%, -50%); /* Centra el botón en relación con su propio tamaño */
    font-weight: 700;
    color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    width: 64px;
    transition: .3s ease;
}

.CrearBoton:hover {
    background-color: #062435; /* Cambia este color según tus preferencias */
}
@media only screen and (max-width: 600px) {
    .CrearBoton {
        top: 180px;
        left: 220px;
        font-size: 20px; /* Ajusta el tamaño de la fuente para dispositivos móviles si es necesario */
    }
}

.error-span {
    color: red; /* Cambia "red" al color que prefieras */
    font-size: 15px;
    justify-content: center;
    align-items: center;
  }